:root {
    font-family: cera-round-pro, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --text-primary: #606060;
    --text-secondary: #191919;
    --bg-primary: #ffffff;
    --bg-secondary: #e5e5e5;
    --bg-tertiary: #f9f9f9;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    margin-left: 3rem;
    height: 3rem;
    width: auto;
    z-index: 2;
}

.header {
    padding: 5px;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
    background: var(--bg-primary);
    width: 100vw;
    height: 2rem;
    padding: 5px;
    z-index: 1;
}

.footer {
    padding: 5px;
    text-align: center;
}

.main-content {
    margin-left: 3rem;
    padding: 1rem;
    height: calc(100vh - 3rem);
    background: var(--bg-tertiary);
}


/* Navbar Content */
.navbar {
    z-index: 3;
    background: var(--bg-primary);
    width: 3rem;
    height: 100vh;
    position: fixed;
    transition: width 200ms ease;
    overflow: hidden;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.nav-link:hover {
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    letter-spacing: 0.3ch;
    width: 100%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        top: 0;
        width: 100vw;
        height: 3rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .main-content {
        margin: 0;
    }

    .footer-wrapper {
        display: none;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 3rem;
        height: 100vh;
    }

    .navbar .link-text {
        display: inline;
    }
}
